@using Tour.Models
@model LocationTypeDetailModel


<div class="row row-sm-offset">
    <div class="col-md-12 multi-horizontal" data-for="name">
        <div class="form-group">
            @Html.LabelFor(m => m.LocationTypeList, new { @class = "form-control-label mbr-fonts-style display-7" })
            @Html.DropDownListFor(m => m.SelectedLocationTypeCode, Model.LocationTypeList, "-- Select Status --", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LocationTypeList, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LocationTypeName, new { @class = "form-control-label mbr-fonts-style display-7" })
           
            @Html.TextBoxFor(m => m.LocationTypeName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LocationTypeName, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.LocationTypeDescription, new { @class = "form-control-label mbr-fonts-style display-7" })
            @Html.TextBoxFor(m => m.LocationTypeDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LocationTypeDescription, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LocationTypeAddress1, new { @class = "form-control-label mbr-fonts-style display-7" })
            @Html.TextBoxFor(m => m.LocationTypeAddress1, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LocationTypeAddress1, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LocationTypeAddress2, new { @class = "form-control-label mbr-fonts-style display-7" })
            @Html.TextBoxFor(m => m.LocationTypeAddress2, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LocationTypeAddress2, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LocationTypeAddress3, new { @class = "form-control-label mbr-fonts-style display-7" })
            @Html.TextBoxFor(m => m.LocationTypeAddress3, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LocationTypeAddress3, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LocationTypeTown, new { @class = "form-control-label mbr-fonts-style display-7" })
            @Html.TextBoxFor(m => m.LocationTypeTown, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LocationTypeTown, "", new { @class = "text-danger" })
        </div>
        @*<div class="form-group">
                <div class="row">
                    @Html.LabelFor(m => m.LocationTypeAddress3, new { @class = control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.LocationTypeAddress3, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeAddress3, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(m => m.LocationTypeEirCode, new { @class = "form-control-label mbr-fonts-style display-7" })
            @Html.TextBoxFor(m => m.LocationTypeEirCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LocationTypeEirCode, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LocationTypePhone, new { @class = "form-control-label mbr-fonts-style display-7" })
            @Html.TextBoxFor(m => m.LocationTypePhone, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LocationTypePhone, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LocationTypeURL, new { @class = "form-control-label mbr-fonts-style display-7" })
            @Html.TextBoxFor(m => m.LocationTypeURL, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LocationTypeURL, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LocationTypeEmail, new { @class = "form-control-label mbr-fonts-style display-7" })
            @Html.TextBoxFor(m => m.LocationTypeEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LocationTypeEmail, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LocationTypeGPS, new { @class = "form-control-label mbr-fonts-style display-7" })
            @Html.TextBoxFor(m => m.LocationTypeGPS, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LocationTypeGPS, "", new { @class = "text-danger" })
        </div>

        @*<div class="form-group">
                <div class="row">
                    @Html.LabelFor(m => m.LocationTypeAddress3, new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.LocationTypeAddress3, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeAddress3, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        @*<form class="mbr-form" action="https://tour.com/" method="post" data-form-title="Mobirise Form">*@
        @*<input type="hidden" name="email" data-form-email="true" value="UZ5abvNwsWn5raRvgKHrU0VHH4xb/2tPUNX5j4+5rSs4u+90OjJAwSsFgDHXU9O3s4CN3D/newVxfPbd68gkczZ1+8E+tEmp5b6aUMe0jKlYouys9zlNVUqegMeb/BKJ">*@
        @*<div class="row row-sm-offset">
                <div class="col-md-4 multi-horizontal" data-for="name">
                    <div class="form-group">
                        <label class="form-control-label mbr-fonts-style display-7" for="name-form1-t">Name</label>
                        <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-t">
                    </div>
                </div>
                <div class="col-md-4 multi-horizontal" data-for="email">
                    <div class="form-group">
                        <label class="form-control-label mbr-fonts-style display-7" for="email-form1-t">Email</label>
                        <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-t">
                    </div>
                </div>
                <div class="col-md-4 multi-horizontal" data-for="phone">
                    <div class="form-group">
                        <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-t">Phone</label>
                        <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-t">
                    </div>
                </div>
            </div>
            <div class="form-group" data-for="message">
                <label class="form-control-label mbr-fonts-style display-7" for="message-form1-t">Message</label>
                <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-t"></textarea>
            </div>*@

    
        @*</form>*@


    </div>
</div>

