@using Tour.Models
@model UserAdminViewModel

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mbr-fullscreen mbr-parallax-background" id="header15-j" style="z-index: 0; position: relative; background-image: none; background-attachment: scroll; background-size: auto;">
    <div class="container">
        <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">
            Edit Location
        </h2>
        @using (Html.BeginForm("Edit", "UserAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <fieldset>
                <legend>Location Details</legend>
                <bR />
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(X => X.LocationTypeDetail.LocationTypeDetailsId)

                <div class="row">
                    <div class="form-group col-lg-6">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationTypeList, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @Html.DropDownListFor(m => m.LocationTypeDetail.SelectedLocationTypeCode, Model.LocationTypeDetail.LocationTypeList, "-- Select Type --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationTypeList, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-6">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationTypeName, new { @class = "form-control-label mbr-fonts-style display-7" })

                        @Html.TextBoxFor(m => m.LocationTypeDetail.LocationTypeName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationTypeName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationTypeDescription, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @Html.TextAreaFor(m => m.LocationTypeDetail.LocationTypeDescription, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationTypeDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationTypeAddress1, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @Html.TextBoxFor(m => m.LocationTypeDetail.LocationTypeAddress1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationTypeAddress1, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationTypeAddress2, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @Html.TextBoxFor(m => m.LocationTypeDetail.LocationTypeAddress2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationTypeAddress2, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationTypeAddress3, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @Html.TextBoxFor(m => m.LocationTypeDetail.LocationTypeAddress3, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationTypeAddress3, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationTypeTown, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @Html.TextBoxFor(m => m.LocationTypeDetail.LocationTypeTown, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationTypeTown, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationTypeEirCode, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @Html.TextBoxFor(m => m.LocationTypeDetail.LocationTypeEirCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationTypeEirCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.LocationTypeDetail.CountyList, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @Html.DropDownListFor(m => m.LocationTypeDetail.SelectedCounty, Model.LocationTypeDetail.CountyList, "-- Select County --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.SelectedCounty, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationTypePhone, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @Html.TextBoxFor(m => m.LocationTypeDetail.LocationTypePhone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationTypePhone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationLatitude, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @Html.TextBoxFor(m => m.LocationTypeDetail.LocationLatitude, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationLatitude, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationLongitude, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @Html.TextBoxFor(m => m.LocationTypeDetail.LocationLongitude, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationLongitude, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationTypeURL, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @Html.TextBoxFor(m => m.LocationTypeDetail.LocationTypeURL, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationTypeURL, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationTypeEmail, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @Html.TextBoxFor(m => m.LocationTypeDetail.LocationTypeEmail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationTypeEmail, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-4">
                        @Html.LabelFor(m => m.LocationTypeDetail.LocationTypeImage, new { @class = "form-control-label mbr-fonts-style display-7" })
                        @*@Html.TextBoxFor(m => m.LocationTypeDetail.DisplayLocationTypeImage, new { @class = "form-control" })*@
                        @*<img src="@Url.Action("RenderImage", new { id = Model.LocationTypeDetail.DisplayLocationTypeImage})" />*@
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.LocationTypeDetail.DisplayLocationTypeImage)" width="80" height="80" />
                        @Html.ValidationMessageFor(m => m.LocationTypeDetail.LocationTypeImage, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4">

                    </div>
                    <div class="form-group col-lg-4">

                    </div>
                    <div class="form-group col-lg-4">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-form display-4">EDIT</button>
                        </span>
                    </div>
                </div>
            </fieldset>
        }
    </div>

</section>


