@using PagedList.Mvc;
@using PagedList;
@model Tour.Models.UserAdminViewModel
  {
    ViewBag.Title = "User Admin";
}

<h2>@ViewBag.Title.</h2>
<section class="section-table cid-rbViYzxbEs" id="table1-z">
    <div class="container container-table">
        <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">
            Available Locations
        </h2>
        @*<h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-5">
            Click blue "Gear" icon in the top right corner to hide/show search and info, change the the table background and other parameters.  In browser click on the table head to sort the table, use search to filter the table.
        </h3>*@
        <div class="table-wrapper">
            <div class="container">
                <div class="row search">
                    <div class="col-md-6">
                        @using (Html.BeginForm("Create", "UserAdmin", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
                        {
                            @*@Html.AntiForgeryToken()*@
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-form display-4">Create New</button>
                            </span>
                        }

                    </div>
                    <div class="col-md-6">
                        <div class="dataTables_filter">
                            @using (Html.BeginForm("Index", "UserAdmin", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
                            {
                                @*@Html.AntiForgeryToken()*@
                                @*<label class="searchInfo mbr-fonts-style display-7">Search:</label>
                            <input type="text" class="form-control input-sm">*@
                                @Html.TextBox("SearchString", "", new { @class = "form-control input-sm" })
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary btn-form display-4">Search</button>
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="container scroll">
                <table class="table isSearch" cellspacing="0">
                    <thead>
                        <tr class="table-heads ">
                            <th class="head-item mbr-fonts-style display-7">
                                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                DESCRIPTION
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                TOWN
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                URL
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                EDIT
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                DELETE
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PagedList)
                        {
                        <tr>
                            <td class="body-item mbr-fonts-style display-7">@item.LocationName</td>
                            <td class="body-item mbr-fonts-style display-7">@item.LocationDescription</td>
                            <td class="body-item mbr-fonts-style display-7">@item.LocationTown</td>
                            <td class="body-item mbr-fonts-style display-7">@item.LocationURL</td>
                            <td class="body-item mbr-fonts-style display-7">@item.LocationImage</td>
                            
                            <td class="body-item mbr-fonts-style display-7">@Html.ActionLink("Edit", "Edit", new { id = @item.LocationDetailsId })</td>
                            <td class="body-item mbr-fonts-style display-7">@Html.ActionLink("Delete", "Delete", new { id = item.LocationDetailsId })</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            Page @(Model.PageNumber < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model.PagedList, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            <div class="container table-info-container">
                <div class="row info">
                    <div class="col-md-6">
                        <div class="dataTables_info mbr-fonts-style display-7">
                            @*<span class="infoBefore">Showing</span>
                        <span class="inactive infoRows"></span>
                        <span class="infoAfter">entries</span>
                        <span class="infoFilteredBefore">(filtered from</span>
                        <span class="inactive infoRows"></span>
                        <span class="infoFilteredAfter"> total entries)</span>*@
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</section>

